/* BlogCard.module.css */

.card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 20px 30px
}

.imageWrapper {
  position: relative;
  height: 12rem;
}

.image {
  object-fit: cover;
}

.content {
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--fg-base); /* Updated to match the primary color */
}

.date {
  color: gray;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.excerpt {
  color: #4a4a4a;
}

.readMore {
  margin-top: 1rem;
  color: var(--enes-main); /* Updated to match the primary color */
  text-decoration: none;
}

.readMore:hover {
  text-decoration: underline;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
